#hamburger {
  display: none;
}

ul#menu {
  display: flex;
  gap: 8px;
}

#menu a {
  font-size: 14px;
  font-weight: 500;
  color: #344563;
  padding: 10px 12px;
}

#menu:active {
  font-weight: 700;
  color: #6070ff;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;

  /* todo: remove drop-shadow before scrolling */
  filter: drop-shadow(0 0 16px rgba(64, 83, 252, 0.24));
}
