#hamburger {
  display: none;
}

ul#menu {
  display: flex;
  gap: 8px;
}

#menu a {
  font-size: 15px;
  font-weight: 500;
  color: #344563;
  padding: 10px 12px;
  line-height: 20px;
  text-align: center;
}

#menu:active {
  font-weight: 700;
  color: #6070ff;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1rem;

  /* todo: remove drop-shadow before scrolling */
  filter: drop-shadow(0 0 16px rgba(64, 83, 252, 0.24));
}

/* HERO */

.hero {
  padding: 20% 18%;
}

.hero h1 {
  padding-top: 72px;
  font-size: 3rem;
  line-height: 3.75rem;
  letter-spacing: 0.37px;
}

.hero p {
  font-size: 20px;
  line-height: 28px;
}

.shapes-bg {
  background: white url(images/hero-bg-shapes-desktop.svg);
  background-repeat: no-repeat;
  background-size: 97.04% 85.28%;
  background-position: 35px;
}

/* PORTFOLIO */
.portfolio {
  gap: 54px; /* 142-2x44 the margin of card-works boxes */
  justify-items: center;
}

.card-works {
  max-width: 1156px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image details";
  flex: 1 1 0;
  gap: 22px;
}

.card-works:nth-child(odd) {
  grid-template-areas: "details image";
}

.card-details {
  padding: 24px;
  grid-area: details;
}

.card-image {
  grid-area: image;
}
