ul#menu > li {
  display: none;
}

.hero-bg-shapes {
  background: white url(images/hero-bg-shapes-mobile.svg) 0 center no-repeat;
  background-size: 100vw 100%;
}

.contact-bg-shapes {
  background: #6070ff url(images/contact-form-background-shapes-mobile.svg) right 20% no-repeat;
  background-size: 59.2% 92%;
}

.about .headline {
  padding-bottom: 0;
}
