* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  /* Simulate the mobile view */
  max-width: 375px;
  max-height: 604px;

  /* end of simulated mobile view */
}

a {
  outline: none;
  border-radius: 8px;
  display: block;
  padding: 10px; /* some HitBox space */
  transition: size 0.2s ease-in-out;
}

/* HEADER */
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px 0 12px;
  height: 48px;
}

.logo {
  padding: 10px 12px;
}

.toolbar > a {
  font-size: 18px;
  font-weight: 700;
  color: #6070ff;
}

/* MAIN PAGE */
.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
}

.shapes-bg {
  background: url(images/bg-shapes.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  left: -34px; /* accounts for the bg image positioning */
}

h1 {
  color: #172b4d;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
}

.headline-text {
  color: #344563;
  font-weight: 400;
  line-height: 24px;
  margin: 12px 0;
}

/* Social Media section */
.supporting-text {
  margin: 12px 0;
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.media-icons {
  /* Fix alignment of first icon while also allowing for a reasonable ?HitBox? */
  margin-left: -10px;
  display: flex;
  color: #505f79;
  list-style-type: none;
}

/* BUTTON STATES */

/* Generic hover effect for all links
  adapted from https://css-tricks.com/snippets/css/scale-on-hover-with-webkit-transition/
*/

a:hover,
a:focus {
  transform: scale(1.15);
}

a:focus {
  border: 1px solid #7f8cff;
}

a:active {
  transform: scale(0.85);
}

.btn {
  padding: 12px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 12px 0;
  color: #396df2;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.btn:hover,
.btn:focus {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
  transform: scale(1); /* Resets default link behavior */
}

.btn:active {
  background: #2230d2;
}

.btn:disabled {
  border: 1px solid #C1C7D0;
  color: #5E6C84;
}

/* WORKS Section
   =========================================== */

.works {
  display: grid;
  grid-template: auto / 1fr;
  background-color: #f7f7f9;
  padding-top: 70px; /* 114px - 44px */
}

.card-works {
  margin: 44px 24px;
  padding: 16px;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card-image {
  border-radius: 8px;
  max-width: 295px;
  max-height: 220px;
}

.card-details {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 12px;
}

.project-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 12px 0;
  color: #172b4d;
}

.project-highlights {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

/* Adapted from https://stackoverflow.com/questions/2351623/combining-css-pseudo-elements-after-the-last-child/2351651 plus some extra research on selectors */
.project-highlights > div {
  display: inline;
}

/* Circles as chars or codes: ●⚫○ | S \26ac | M \26ab | L \2B24 */
.project-highlights > div:not(:last-child)::after {
  content: "●";
  color: #c1c7d0;
  font-size: 20px;
  margin: 0 12px;
}

/* I chose to use different classes for each highlight instead of ul+li because they are not semantically similar and have meanings */
.project-client {
  color: #344563;
  text-transform: uppercase;
}

.project-role {
  text-transform: capitalize;
}

.project-summary {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #344563;
}

.project-tags {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.project-tags li {
  background-color: #ebebff;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 4px 12px;
  border-radius: 8px;
}
